<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Beat Player</title>
    <link rel="stylesheet" href="styles/styles.css">
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
</head>

<body>

    <div class="btn-accueil">
        <a href="/index.html" class="accueil">Revenir</a>
    </div>


    <div id="particles-js"></div>
    <div class="count-particles"> <span class="js-count-particles"></span>
        <p class="titre">Type to play beat</p>
    </div>
    <div>
        <p class="footer" >Utilisez les touches 'a' 'z' 'e' 'd' 's' 'q' 'w' 'x' 'c' pour jouer</p>
    </div>
    <footer class="footer">
        <h2>BEAT APP.</h2>
    </footer>



    <script src="scripts/particules.js"></script>
    <script src="scripts/index.js"></script>
</body></html>
