@font-face{
    font-family:"Alba";
    src:url("alba/alba.TTF");
}

body {
    margin: 0;
}

.btn-accueil{
    width: 65px;
    height: 65px;
    position: absolute;
    top: 5%;
    right: 5%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgb(0, 0, 0);
    animation: pulse 1.3s infinite;
    z-index: 100;
}

@keyframes pulse {
    to
    {
        box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.01);
    }
}

.btn-accueil .accueil{
    width: 100%;
    height: 100%;
    padding: 0 5px;
    text-decoration: none;
    color: #000000;
    text-align: center;
    line-height: 65px;
}

.titre {
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    color: white;
}

.footer{
    font-family: Alba;
    font-size: 50px;
    margin-top: 5px;
}

canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
    background-color: #91c2eb;
    background-size: cover;

}

/* ---- stats.js ---- */
.count-particles {
    position: absolute;
    top: 300px;
    width: 100%;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 10px 3px 3px;
}

.footer{
    text-align: center;
    font-size: 22px; 
}