*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body{
    background: #ffffff;
    font-family: 'dancing script', cursive;

}

/* BARRE DE NAVIGATION */ 

nav{
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 10;
    background: rgba(63, 63, 63, .3);
    text-transform: uppercase;
}
nav .logo-perso{
    position: fixed;
    width: 80px;
    height: auto;
    z-index: 21;
}

.list-nav{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
    list-style: none;
    z-index: 20;
}

.list-nav li{
    display: flex;
    align-items: center;
}

.list-nav li a{
    margin: 30px;
    font-weight: 900;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.list-nav li a::after{
    content: '';
    display: block;
    margin: 0 auto;
    width: 0%;
    height: 2px;
    background: #000;
    transition: width 0.3s ease-in-out;
}
.list-nav li a:hover::after{
    width: 100%;
}

.logo-menu{
    height: 60px;
    width: 60px;
    position: fixed;
    top: 0;
    right: 15px;
    z-index: 25;
    display: none;
}

.cont-line{
    position: relative;
    width: 80%;
    height: 80%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.lines {
    width: 100%;
    height: 5px;
    background: rgb(0, 0, 0);
    position: absolute;
    border-radius: 8px;
    transition: all .6s ease-in-out;
    padding-bottom: 1px;
}

.lines:nth-child(1){
    top: 7px;
}
.lines:nth-child(2){
    top: 22px;
}
.lines:nth-child(3){
    top: 37px;
}

.btn1.active .lines:nth-child(1){
    top: 18px;
    transform: rotate(135deg);
    background: #fff;

}

.btn1.active .lines:nth-child(3){
    top: 18px;
    transform: rotate(-135deg);
    background: #fff;

}

.btn1.active .lines:nth-child(2){
    opacity: 0;
    transform: rotate(-40deg) translateX(-100px);
    background: #fff;


}

/* MEDIA QUERIES NAV BARRE */ 

@media screen and (max-width:850px) {
    .logo-menu{
        display: block;
    }
    .list-nav{
        padding-top: 70px;
        flex-direction: column;
        height: auto;
        background: linear-gradient(to bottom, rgba(0, 0, 0,.9), rgb(190, 190, 190) );
        transition: all .6s ease-in-out;
        transform: translateY(-100%);
    }
    .list-nav.active{
        transform: translateY(0);
        position: relative;
    }
    .list-nav li {
        border-bottom: 1px solid #000;
        justify-content: center;
    }
    .list-nav li:nth-child(1){
        border-top: 1px solid #000;

    }
    
}

/* Accueil*/

.home{
    width: 100%;
    height: auto;
    position: relative;
}
.carousel{
    opacity: .8;
}

.home-about{
    width: 90%;
    height: auto;
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 6px 8px 10px rgb(0, 0, 0);
    z-index: 2;
    font-family: 'Merienda', cursive;
    letter-spacing: 8px;
    text-align: center;
    color: #fff;
}

.home-about h3{
    display: block;
    font-size: 50px;    
}

.home-about p{
    line-height: 40px;
    font-size: 20px;
}

.card-test{
    width: 70%;
    height: auto;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    left: 2px;

}

.carousel-indicators{
    z-index: 10;
}


























/* TEST CERCLE */

.container{
    width: 800px;
    height: 800px;
    margin: 10px auto;
    position: relative;
}

.contain-cercle{

    border-radius: 9999px;
    position: absolute;

}

.cercle1{
    width: 210px;
    height: 210px;
    background: red;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 4;
    

}
.cercle2{
    width: 300px;
    height: 300px;
    background: blue;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    
}
.cercle3{
    background: orange;
    width: 160px;
    height: 160px;
    top: 35%;
    left: 52%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.cercle4{
    background: yellow;
    width: 240px;
    height: 240px;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 4;

}
.cercle5{
    background: blue;
    width: 70px;
    height: 70px;
    top: 20%;
    left: 70%;
    transform: translate(-50%, -50%);

}
.cercle6{
    background: orange;
    width: 40px;
    height: 40px;
    top: 70%;
    left: 60%;
    transform: translate(-50%, -50%);

}
.cercle7{
    background: yellow;
    width: 80px;
    height: 80px;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%);

}
