*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(-45deg, rgb(0, 119, 255), white);
    font-family: 'nunito', cursive;
    color: #000000;
}

/* BARRE DE NAVIGATION
--------------------------------------------------------*/

nav{
    position:fixed;
    width: 100%;
    height: 70px;
    z-index: 10;
    text-transform: uppercase;
    font-family: 'nunito', cursive;
    background: #ffffff;

}
nav .logo-perso{
    position: fixed;
    width: 70px;
    height: auto;
    z-index: 21;
}

.list-nav{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
    list-style: none;
    z-index: 20;
}

.list-nav li{
    display: flex;
    align-items: center;
}

.list-nav li a{
    margin: 30px;
    font-weight: 900;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #000;
}

.list-nav li a::after{
    content: '';
    display: block;
    margin: 0 auto;
    width: 0%;
    height: 2px;
    background: #000;
    transition: width 0.3s ease-in-out;
}
.list-nav li a:hover::after{
    width: 100%;
}

.logo-menu{
    height: 50px;
    width: 50px;
    position: fixed;
    top: 0;
    right: 15px;
    z-index: 25;
    display: none;
}

.cont-line{
    position: relative;
    width: 80%;
    height: 80%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.lines {
    width: 80%;
    height: 5px;
    background: rgb(0, 0, 0);
    position: absolute;
    border-radius: 8px;
    transition: all .6s ease-in-out;
    padding-bottom: 1px;
}

.lines:nth-child(1){
    top: 8px;
}
.lines:nth-child(2){
    top: 19px;
}
.lines:nth-child(3){
    top: 30px;
}

.btn1.active .lines:nth-child(1){
    top: 18px;
    transform: rotate(135deg);

}

.btn1.active .lines:nth-child(3){
    top: 18px;
    transform: rotate(-135deg);

}

.btn1.active .lines:nth-child(2){
    opacity: 0;
    transform: rotate(-40deg) translateX(-100px);


}

/* MEDIA QUERIES NAV BARRE
------------------------------------------------------*/

@media screen and (max-width:990px) {
    nav{
        height: 50px;
    }
    .logo-menu{
        display: block;

    }
    .list-nav{
        padding: 0;
        flex-direction: column;
        height: auto;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgb(190, 190, 190) );
        transition: all .6s ease-in-out;
        transform: translateY(-110%);
    }
    .list-nav.active{
        transform: translateY(0);
        position: relative;
    }
    .list-nav li {
        border-bottom: 1px solid #000;
        justify-content: center;
    }
    .list-nav li a{
        font-size: .8rem;
    }


}

/* Accueil
----------------------------------------------------------*/

.home{
    width: 100%;
    height: auto;
}

.home-about{
    width: 100%;
    height: 500px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    z-index: 8;
    font-family: 'Merienda', cursive;
    text-align: center;
    padding-top: 70px;
    box-shadow: 0 3px 10px rgb(0, 0, 0)

}
.home-text{
    width: 60%;
    align-self: center;
}

.home-text h3{
    font-size: 2.5rem;
    text-shadow: 6px 8px 10px rgb(0, 0, 0);
    letter-spacing: 5px;
}

.home-text p{
    font-size: 1.2rem;
}

.home-text-resume p{
    font-size: .6rem;
    text-transform: initial;
    padding: 0 20%;
}

.home-about img{
    box-shadow: 30px -2px 20px #000000ab;
    border-right: 1px solid #333;
    border-radius: 73% 48% 85% 13% / 53% 41% 77% 33% ;
}

/* Media queries partie accueil
-----------------------------------------------------------*/

@media screen and (max-width: 990px) {
    .home-about{
        width: 100%;
        height: auto;
        display: block;
        padding: 0;
    }
    .home-text{
        width: 100%;
        position: relative;
        top: 30%;
        left: 30%;
        transform: translate(-30%,-30%);
    }
    .home-text h3{
        font-size: 2rem;
        letter-spacing: 5px;
        margin-top: 15px;
    }
    .home-text p{
        font-size: .8rem;
    }
    .home-text-resume p{
        font-size: .4rem;
        text-transform: initial;
    }
    .home-about img{
        width: 300px;
        height: auto;
        margin: 80px auto 0;
        border: none;
    }

}

@media screen and (max-width: 520px){
    .home-text h3{
        font-size: 1.2rem;
        letter-spacing: 5px;
    }
    .home-text p{
        font-size: .6rem;
    }
    .home-text-resume p{
        font-size: .4rem;
        text-transform: initial;
    }
    .home-about img{
        width: 150px;
    }
}



/* A propos  / TITRE = Pour tout savoir
 --------------------------------------------------------------
*/

.container{
    width: 100%;
    height: auto;
}

.section-container-about {
    width: 100%;
    height: 100%;
    font-family: 'nunito', cursive;
}

.section-container-about .title-custom{
    text-align: center;
    margin: 60px auto 0;
    padding: 70px 0;
    font-family: 'Merienda', cursive;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 2rem;
}

.section-container-about .sous-title-custom{
    text-align: center;
    margin: 20px auto 70px;
    font-size: 1.5rem;
    letter-spacing: 2px;
}
.section-container-about .sous-title-custom::after{
    content: '';
    display: block;
    margin: 60px auto;
    width: 70%;
    height: 8px;
    border-radius: 50%;
    box-shadow: 0px 6px 8px 2px rgba(0, 0, 0, 0.7);
}
.section-about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
}
.section-about-me{
    width: 500px;
    height: 500px;
    margin: 5px;
    border-radius: 50%;
    border-right: 1px solid #000;
    background-image: linear-gradient(-45deg, rgb(255, 251, 0), rgb(255, 0, 0));
    box-shadow: 0 0 100px rgba(255, 238, 0, 0.9);
    flex-shrink: 0;

}
.section-about-me h4{
    text-align: center;
    text-decoration: underline;
    font-family: 'Merienda', cursive;
    font-size: 1.5rem;
    margin-top: 60px;

}
.section-about-me p{
    padding: 30px 50px;
    letter-spacing: 1px;
    font-size: 1.2rem;
    line-height: 30px;
    text-align: justify;

}
.section-about-future{
    width: 500px;
    height: 500px;
    margin: 5px;
    border-radius: 50%;
    border-left: 1px solid #000;
    background-image: linear-gradient(45deg, rgb(255, 251, 0), rgb(255, 0, 0));
    box-shadow: 0 0 100px rgba(255, 238, 0, 0.9);
    flex-shrink: 0;
}

.section-about-future h4 {
    text-align: center;
    font-family: 'Merienda', cursive;
    margin-top: 60px;
    font-size: 1.5rem;
    text-decoration: underline;

}
.section-about-future p{
    text-align: justify;
    padding: 30px 50px;
    letter-spacing: 1px;
    font-size: 1.2rem;
    line-height: 30px;
}
hr{
    display: none;
}

.link-cv{
    text-decoration: none;
}

.btn-cv{
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 20px 50px;
    border-radius: 9999px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    box-shadow: 3px 5px 0 rgb(0, 0, 0);
    transition: all .1s ease-in-out;
}

.btn-cv:hover{
    background: rgb(151, 151, 151);
    color: #ffffff;
}

.btn-cv:active{
    box-shadow: 1px 2px 0 rgb(0, 0, 0);
}


/* Media queries partie a propos
----------------------------------------------------------*/

@media screen and (max-width: 991px) {
    .section-container-about .title-custom{
        font-size: 1.8rem;
        margin-bottom: 0;
    }
    .section-container-about .sous-title-custom::after{
        width: 70%;
        margin-top: 100px;
    }
    .section-about{
        width: 100%;
        flex-direction: column;
        margin: 0 auto;
    }
    .section-about-future{
        background-image: linear-gradient(to bottom, rgb(255, 251, 0), rgb(255, 0, 0));
        margin-bottom: 20px;
    }
    .section-about-me{
        margin: 0;
        background-image: linear-gradient(to top, rgb(255, 251, 0), rgb(255, 0, 0));

    }
    hr{
        display: block;
        width: 40%;
        height: 4px;
        margin: 40px;
        background-image: linear-gradient(90deg, rgb(0, 0, 0), rgb(55, 182, 255));
        border-radius: 999px;
    }

}

@media  screen and (max-width:520px) {
    .section-container-about .title-custom{
        font-size: 1.2rem;
        padding: 0;
    }
    .section-container-about .sous-title-custom{
        font-size: .8rem;
        font-weight: 600;
    }
    .section-container-about .sous-title-custom::after{
        width: 65%;
        margin: 50px auto;
    }

    .section-about-future{
        width: 300px;
        height: 300px;
    }
    .section-about-me{
        width: 300px;
        height: 300px;
    }
    .section-about-future h4{
        font-size: 1rem;
        margin-top: 30px;
    }
    .section-about-me h4{
        font-size: 1rem;
        margin-top: 30px;
        letter-spacing: 0;
        line-height: 1px;
    }
    .section-about-future p{
        font-size: .8rem;
        line-height: 20px;
        padding: 25px 40px;

    }
    .section-about-me p{
        font-size: .8rem;
        line-height: 20px;
        padding: 25px 40px;

    }
    .btn-cv{
        padding: 10px 30px;
        font-size: .8rem;
    }
    
}


/* Partie compétences et projets */ 

.section-container-exp {
    width: 100%;
    height: auto;
    margin-top: 70px;
}

.section-container-exp h3{
    text-align: center;
    margin: 100px 0;
    padding-top: 70px;
    font-size: 2rem;
    font-family: 'Merienda', cursive;
}
.section-container-exp .container-exp-img {
    width: 100%;
    height: auto;
}

.section-container-exp .container-exp-img .img1{
    width: 60%;
    height: auto;
    margin: 30px 10% 100px;
    opacity: .9;
    border-radius: 10px;
    transform: rotate(-10deg);
    box-shadow: -15px 15px 0 black;
}

.section-container-exp .container-exp-img .project-carousel{
    width: 100%;
    height: auto;
    padding-top: 50px;
    position: relative;
}

.section-container-exp .container-exp-img .img2{
    width: 60%;
    height: auto;
    margin-bottom: 20px;
    position: relative;
    top: 50%;
    right: -30%;
    opacity: .9;
    box-shadow: -15px 15px 0 black;
    border-radius: 15px;
    transform: rotate(10deg);
    z-index: 3;


}
.section-container-exp .container-exp-img .project-carousel .img3{
    width: 40%;
    height: auto;
    margin: 30px 0 50px;
    position: absolute;
    top: 45%;
    left: 15%;
    opacity: .9;
    box-shadow: -10px 10px 0 black;
    border-radius: 15px;
    transform: rotate(10deg);
    z-index: 4;
}
.section-container-exp .container-exp-img .project-carousel .img4{
    width: 20%;
    height: auto;
    margin: 30px 0 50px;
    position: absolute;
    top: 70%;
    left: 5%;
    opacity: .9;
    box-shadow: -5px 5px 0 black;
    border-radius: 15px;
    transform: rotate(10deg);
    z-index: 5;
}

.container-exp-img .exp-list{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    text-align: center;
}

.container-exp-img .exp-list li{
    list-style: none;
    margin: 5px 50px;
}

.exp-list .exp-front h4,
.exp-list .exp-back h4, 
.exp-list .exp-design h4,
.exp-list .exp-outils h4{
    margin: 20px;
    font-family: 'Merienda', cursive;
    text-decoration: underline;
}

.container-exp-img .project-list{
    width: 50%;
    height: auto;
    margin: 10px 50px 0 50%;
}
.container-exp-img .project-list p{
    width: 100%;
    height: auto;
    padding: 30px;
}
.btn-project{
    text-align: center;
    margin: 50px 0 0 70%;
    padding: 10px 40px;
    border-radius: 9999px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 3px 5px 0 rgb(0, 0, 0);
    transition: all .1s ease-in-out;
}

.btn-project:hover{
    background: rgb(151, 151, 151);
    color: #ffffff;
}

.btn-project:active{
    box-shadow: 1px 2px 0 rgb(0, 0, 0);
}

/* Responsive partie compétence et projets */ 

@media screen and (max-width:768px) {
    .section-container-exp h3{
        padding-top: 0px;
    }
    .section-container-exp .container-exp-img {
        width: 90%;
        height: auto;
        border: 1px solid black;
        margin: 10px auto;
        border-radius: 10px;
    }
    
    .section-container-exp .container-exp-img .img1{
        width: 100%;
        height: auto;
        margin: 0;
        opacity: .9;
        border-radius: 10px;
        box-shadow: none;
        transform: none;
    }
    .container-exp-img .exp-list{
        width: 100%;
        height: auto;
        flex-direction: column;
        flex-shrink: 1;
    }
    .exp-list{
        position: relative;
    }

    .container-exp-img .exp-list li{
        margin: 5px 20px;
    }
    .exp-list .exp-front {
        position: absolute;
    }
    .exp-list .exp-outils{
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .section-container-exp .container-exp-img .img2{
        width: 40%;
        box-shadow: none;
        border-radius: 10px;
        transform: none;
        left: 50%;
   }
    .section-container-exp .container-exp-img .project-carousel .img3{
        width: 60%;
        top: 20%;
        left: 5%;
        box-shadow: none;
        border-radius: 10px;
        transform: none;
    }
    .section-container-exp .container-exp-img .project-carousel .img4{
        width: 30%;
        height: auto;
        margin: 30px 0 50px;
        position: absolute;
        top: 55%;
        left: 15%;
        opacity: .9;
        box-shadow: none;
        border-radius: 10px;
        transform: none;
    }
    .container-exp-img .project-list{
        width: 100%;
        height: auto;
        margin: 10px 0;
        border-top: 1px solid black;
        font-weight: 600;
    }
    .btn-project{
        text-align: center;
        margin: 70px 0 0 70%;
        padding: 10px 25px;
        font-size: .8rem;
    }
}

@media screen and (max-width:520px) {
    .section-container-exp h3{
        font-size: 1.2rem;

    }
    .container-exp-img .exp-list h4{
        font-size: 1rem;
    }
    .container-exp-img .exp-list ul{
        width: 100%;
        height: auto;
        position: static;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }
    .exp-list .exp-front {
        position: static;
    }
    .exp-list .exp-outils{
        position: static;
        top: 0;
        right: 0;
    }
    .container-exp-img .exp-list ul li{
        font-size: .8rem;
        margin: 10px;
    }
    .btn-project{
        padding: 5px 15px;
        font-size: .6rem;
        box-shadow: 2px 3px 0 rgb(0, 0, 0);

    }

}